* {
  box-sizing: border-box;
}

body {
  background-color: #c9c9c9;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 10px;
}

/* general page layout */
.container {
  margin: 0 auto;
  overflow: hidden;
  width: 420px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  /*not quite sure why this is tiled?
  Get to it later!*/
}

.statusbar {
  position: center;
  width: 420px;
  background-color: #FFFFFF;
  z-index: 100;
  margin: auto;
  padding: 15px;
  position: fixed;
}

.statusbar p {
  color: #31077A;
}

.routes { /* NEED TO ADD ARROW */
  display: inline-block;
  font-size: 2em;
  padding-top: 15px;
  width: 90%;
}

.fas {
  color: #31077A;
}

.location {
  font-weight: bold;
  font-size: 3em;
  padding-top: 10px;
}

/*THERE MUST BE A WAY TO MAKE THIS HAPPEN IN STATUSBAR */
.navimage {
  width: 385px;
}

.map {
  position: relative;
  background-image: url("../images/snazzy-image.png");
  height: 500px;
}

.busicon {
  position: absolute;
  left: 29em;
  bottom: 27em;
  z-index: 1;
}

.currentlocation {
  position: absolute;
  left: 20em;
  bottom: 7em;
  z-index: 1;
}

.bus-list {
  margin: 20px;
}


 /*box which holds the information*/
.infobox {
  align-content: center;
  background-color: #F9F9F9;
  border-radius: 5px;
  box-shadow: 8px 10px 12px -8px rgba(0,0,0,0.75);
  font-weight: lighter;
  width: 380px;
  margin-left: auto;
  margin-bottom: 20px;
}

.eta {
  font-weight: bold;
  font-size: 1.8em;
  color: #FB5669;
  width: 50px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  padding-right: 10px;
}

.chevron {
  display: flex;
  position: relative;
  vertical-align: middle;
  text-align: center;
  justify: flex-end;
  margin-left: 20px;
}

/* alignment of the content as a whole in the infobox */
.boxcontent {
  display: flex;
  width: 95%;
  vertical-align: middle;
  align-items: center;
  padding: 10px;
}

.boxcontent h1 {
  font-size: 1.8em;
  color: #31077A;
  font-weight: bold;
  line-height: 25px;
}

.boxcontent h3 {
  display: flex;
  font-size: 1.4em;
  width: 320px;
  line-height: 25px;
}

/* Directions: Northbound etc */
.direction {
  width: 85%;
  font-size: 1em;
  margin: 0.5em;
}

h1.outofservice, h1.reroute {
	color: #FB5669;
}

/*.location {
  border-bottom: 1px solid blue;
  display: inline-block;
  padding: 10px 0 15px 15px;
}

.location:hover {
  background-color: #898989;
}*/
